
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f4f4f4;
}


*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}


h2{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    padding: 1rem;
}

section{

   
    border-radius: 5px;
    overflow: hidden;
  
}
.container-peli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 218);
    min-width: 300px;
    margin-bottom: 1rem;
}

.container-comments{

    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}


.hijo{
    padding: 1rem;
}

img{

    width: 300px;
}

.container {
    margin-top: 5rem;
    max-width: 600px;
    margin: 10rem auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}
